.Top {
    width: 100vw;
    min-height: 90vh;
}

.HeroImage {
    width: 100vw;
}

.heroImageContainer {
    min-height: 528px;
    background-color: #A5A5A5;    
}

.ParallaxDiv {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HeroContentTitle {
    color: rgba(255, 255, 255, 0.87);
    font-family: Rubik;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    margin-top: 1.25rem;
    text-align: center;
    text-transform: uppercase;
}

.HeroContentText {
    height: 24px;
    opacity: 0.87;
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 1.25px;
    line-height: 24px;
    text-align: center;
}

@media(max-width: 400px) {
  
    .HeroContentTitle {
        font-style: normal;
        text-align: center;
    }
    
    .HeroContentText {
        opacity: 0.87;
        color: #FFFFFF;
        font-family: Rubik;
        font-size: 13px;
        text-align: center;
    }
}