
.CareersContainer {
    display: flex;
    flex-direction: column;
}
.CarrersContainerpage {
    display: flex;
    flex-direction: column;
    margin-top: 71px;
}
.JobpostContainer, .Spinner, .AddPostBtn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.AddPostBtn {
    margin-bottom: 20px;
}
.JobpostContainer, .Spinner {
    margin-top: 80px;
}
.CareersTitle {
    color: rgba(255,255,255,0.87);
    font-family: Rubik;
    font-size: 48px;
    font-weight: 300;
    line-height: 57px;
}
.Title {
    color: #000000;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 200px;
}

@media(min-width: 600px) {
    .JobpostContainer {
        width: 600px;
        min-height: 600px;
    }
}

@media(max-width: 600px) {
    .JobpostContainer {
       padding: 15px;
       min-height: 600px;
    }
}


