.CareersHero {
    height: 248px;
    background-color: #A5A5A5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
}
.CareersContainer {
    display: flex;
    flex-direction: column;
}
.JobpostContainer, .Spinner, .AddPostBtn {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.JobpostContainer, .Spinner {

    margin-top: 80px;

}
.CareersTitle {
    color: rgba(255,255,255,0.87);
    font-family: Rubik;
    font-size: 48px;
    font-weight: 300;
    line-height: 57px;
}
