.JobTitle {
    height: 28px;
    color: #000000;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.ResponsibilitiesTitle,
.RequirementTitle {
    color: #000000;
    font-family: Rubik;
    font-size: 16px;
    line-height: 28px;
    margin-top: 25px;
}

.Responsibilities,
.Requirement {
    opacity: 0.54;
    color: #000000;
    font-family: Rubik;
    font-size: 16px;
    line-height: 28px;
}

.SubmitResume {
    height: 28px;
    width: 129px;
    color: #F86800;
    font-family: Rubik;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 28px;
    margin-top: 20px;
    cursor: pointer;
}
.Bar {
    margin-top: 50px;
    margin-bottom: 50px;
	box-sizing: border-box;
	height: 1px;
	border: 1px solid #979797;
}
@media(max-width: 500px) {
    .Bar{
        width: 250px;
    }
}
.PostContainer{
    width: 100%;
    justify-content: start;
}
.ResumeUpload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.ResumeRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.TitleRow {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.JobActions {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.JobActions Div {
    padding-right: 10px;
}
.MessagePadding {
    margin: 40px
}