.WhatWeDoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 71.99px;
}

.titleContainer {
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.titleContainer div {
    max-width: 618px;
    opacity: 0.54;
    color: black;
    line-height: 1.75rem;
}

.SolutionsContainer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    height: 495px;
    background-color: #EAEAEA;
}

.SolutionsContainer div {
    margin: 0 auto;
}

.SolutionsContainer .StructuralSub {
    opacity: 0.87;
    margin: 20px;
    color: black;
    text-align: center;
}

.SolutionsColumns {
    display: flex;
    flex-direction: row;
}

.SolutionsColumns div {
    width: 220px;
    opacity: 0.54;
    color: black;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

@media(max-width: 700px) {
    .SolutionsColumns {
        display: flex;
        flex-direction: column;
    }

    .SolutionsContainer {
        height: 1000px;
    }

    .titleContainer {
        height: 300px;
        padding: 15px;
    }

    .HomepageHero {
        height: 300px;
    }

    .Background {
        min-height: 600px;
        background-repeat: repeat-y;
    }
    .HeroContentTitle{
        font-size: 45px;
    }

}
@media(min-width: 699px) {
    .DesignTitle {
        width: 549px;
    }
    .Background {

        min-height: 600px;
    }
    
}