.Top {
    /* background: url('../../assets/images/Index@3x.jpg'); */
    /* 
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100vw;
    /* height: 60vh; */

    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center; */
}

/* .heroImageContainer {
    display: flex;
} */

.HeroImage {
    /* position: fixed; */
    width: 100vw;
    margin-top: 260px;
}

.HomepageHero {
    margin-top: 7vh;
    text-align: center;
    width: 100vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HeroContentTitle {
    color: rgba(255, 255, 255, 0.87);
    font-family: Rubik;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 71px;
    text-align: center;

}

.HeroContentText {
    height: 24px;
    opacity: 0.87;
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 24px;
    text-align: center;
}
.LandingFooterPanel {
    height: 298px;
}
.LandingHeroPanel {
    height: 254px;

}
.LandingHeroPanel,
.LandingFooterPanel {
    width: 100vw;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LandingHeroPanelCopy,
.LandingFooterPanelCopy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.LandingHeroPanelCopy p,
.LandingFooterPanelCopy p {
    max-width: 512px;
    opacity: 0.54;
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto;
}

.Concrete {
    height: 465px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LandingFooterPanel h1 {
    height: 33px;
    color: #000000;
    font-family: Rubik;
    font-size: 28px;
    letter-spacing: 2.63px;
    line-height: 33px;
    text-align: center;
}

.ConcreteCopyContainer {
    width: 100%;
    height: 50%;
    display: flex;

}

.SectionImgContainer,
.Section2ImgContainer {
    width: 100%;
    height: 50%;
    display: flex;

}

.Section2ImgContainer img {
    object-fit: cover;
    width: 100%;
    order: 1;
}

.SectionImgContainer img {
    object-fit: cover;
    width: 100%;
    order: 1;
}

.Section2CopyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    order: 1
}

.ConcreteCopyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    order: 2
}

.Section2CopyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    order: 2
}

.Orangebar {
    height: 4px;
    width: 40px;
    background-color: #F86800;
}

.SectionHeader {
    height: 50px;
    width: 183px;
    color: #000000;
    font-family: Rubik;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1.75px;
    line-height: 25px;
    margin: 10px 0;
}

.ConcreteCopy {
    width: 320px;
    opacity: 0.54;
    color: #000000;
    font-family: Rubik;
    font-size: 12px;
    line-height: 18px;
}

.LearnMore {
    height: 14px;
    width: 86px;
    color: #FF4504;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 14px;
    margin-top: 20px;
    cursor: pointer;
}

@media(min-width: 700px) {
    .Top {
        height: 60vh;
    }
    .HeroImage {
        margin-top: 300px;
    }
    .HomepageHero {
        margin-top: 30vh;
        height: 100%;
    }
    .Concrete {
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ConcreteCopyContainer {
        order: 1;
        width: 50%;
        display: flex;
        height: 100%;

    }

    .SectionImgContainer {
        order: 2;
        width: 50%;
        display: flex;
        height: 100%;
    }

    .Section2ImgContainer {
        order: 1;
        width: 50%;
        display: flex;
        height: 100%;
    }

    .Section2CopyContainer {
        order: 2;
        width: 50%;
        display: flex;
        height: 100%;
    }

    .LearnMore {
        margin-top: 40px;
    }

    .SectionHeader {
        margin: 30px 0;
    }

}

@media(max-width: 699px) {
    .MobilePadding {
        margin: 20px;
    }
    .HeroImage {
        width: 150vw;

    }
}