.ContactUsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 71.99px;
}
.Notification {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    height: 100%;
}

.Notification {
    margin: 50px;
    text-align: center;
}

.ContactUsForm {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
   align-content: center;
}

.ContactTitle {
    opacity: 0.87;
    color: #000000;
    font-family: Rubik;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 26px;
}

.ContactSub {
    opacity: 0.54;
    color: #000000;
    font-family: Rubik;
    font-size: 16px;
    line-height: 28px;
    margin: 24px;
}
.FormContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.textField {
    margin-right: 24px !important;
    width: 300px;
}
.FormRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.longField {
    width: 624px;
}
.multilineField {
    width: 624px;
}
.BtnRow  {
    width: 624px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.BtnRow button {
    margin: 24px 0 !important;
    max-height: 57px;
}

@media(max-width: 700px) {
    .multilineField {
        max-width: 300px;
    }
    .longField {
        max-width: 300px;
    }

    .BtnRow  {
        width: 300px;

    }
    .FormContainer {
        padding-bottom: 24px;
        max-width: 350px;
    }
}
.CommonButton {
    margin: 40px auto;
    background-color: #FF4504;
    border: 1px solid #FF4504;
    border-radius: 5px;
    display: inline-flex;
    font-style: normal;
    justify-content: center;
    position: relative;
    text-align: center;

    padding: 15px 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-family: Rubik;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    width: 199px; 
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

    /* identical to box height */
}