.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}
.links {
    display: flex;
    flex-direction: row;
}
@media (min-width: 950px) {
    .NavigationItems {
        flex-flow: row;
    }
}